.nav ul li a{
    color: #FFF;
    font-size: 1.4rem;
}
.container-fluid{
    display: flex;
    width: 100%;
}
.container{
    padding-top: 50px;
    margin: 0 auto;
    text-align: left;
    text-wrap: wrap;
}
.container img{
    width: 400px;
    height: 400px;
}
.card{
    width: 50%;
    margin: 0 auto;
    margin-bottom: 50px;
}