.nav ul li a{
    color: #FFF;
    font-size: 1.4rem;
}
.container-fluid{
    display: flex;
    width: 100%;
}
.container{
    padding-top: 50px;
    margin: 0 auto;
}
.container img{
    width: 400px;
    height: 400px;
}
footer p{
    padding-top: 300px;
    text-align: center;
    margin: 0 auto;
}