*{
    margin: 0;
    padding: 0;
}
.container-fluid{
    margin-bottom: 100px;
}
.card{
    width: 70%;
    height: 400px;
    margin: 0 auto;
    font-size: 1.2rem;
    transition: background-color 2s linear 0s, box-shadow 2s linear 0s, color 1ms ease 0s;
}
.card:hover{
    background-color: chocolate;
    box-shadow: 2px 2px black;
    color: #FFF;
}
.nav-link{
    transition: border-bottom 4s ease-in 4s;
}
.nav-link:hover{
    color: cornflowerblue;
    font-weight: 600;
    border-bottom: 1px solid black;
    cursor: alias;
}